<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <style>
      span.fa {
        margin:8px;
      }
    </style>
  </head>
  <body>
    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    <div id="player"></div>

    <script src="client.js"></script>
    
    <div>
      <div>
        <label>Video ID</label>
        <input type="text" name="vid" value="jaqymceidB8" />
      </div>
      <div>
        <span class="fa fa-step-backward fa-3x"></span>
        <span class="fa fa-backward fa-3x"></span>
        <span class="fa fa-pause fa-3x"></span>
        <span class="fa fa-play fa-3x"></span>
        <span class="fa fa-forward fa-3x"></span>
        <span class="fa fa-step-forward fa-3x"></span>
      </div>
    </div>
  </body>
</html>